target
temp/
velocity.log
*~
.classpath
.project
.settings
.externalToolBuilders

.idea/*
!.idea/vcs.xml
!.idea/codeStyleSettings.xml
!.idea/runConfigurations/
!.idea/encodings.xml
!.idea/inspectionProfiles/
*.iml
*.ipr
*.iws